# Comparing Neighborhood AQI to EPA AirNow

In [1]:
# import libraries
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as plticker
from matplotlib.lines import Line2D
import numpy as np
import pandas as pd
import seaborn as sns

# set working directory to root level
os.chdir('..')

In [ ]:
def lower_and_underscore(s):
    '''Cleans up text by'''
    return str(s).strip().lower().replace(' ','_')

def import_archive_data(fname, season):
    df = pd.read_csv(fname)
    df['season'] = season
    df.columns = df.columns.to_series().apply(lower_and_underscore)
    return df

## Import PurpleAir and AirNow Data

In [5]:
# define seasons that will be explored, based on 
seasons = ['summer', 'autumn']

In [2]:
test=pd.read_csv('data/summer_2021_airnow.csv', index_col=0, parse_dates=['DateTime'])
test.columns

Index(['Latitude', 'Longitude', 'DateTime', 'Parameter', 'Concentration',
       'Unit', 'AQI', 'Category'],
      dtype='object')

In [6]:
# Import AirNow data into a single DataFrame
df_an = pd.DataFrame()

for season in seasons:
    df_tmp = pd.read_csv(f'data/{season}_2021_airnow.csv', index_col=0, parse_dates=['DateTime'])
    df_tmp['season'] = season
    df_tmp.columns = [col.lower() for col in df_tmp.columns]  
    df_an = df_an.append(df_tmp)

df_an.head()

,latitude,longitude,datetime,parameter,concentration,unit,aqi,category,season
0,41.965000,-87.876100,2021-07-04 02:00:00,OZONE,31.0,PPB,29,1,summer
1,42.060300,-87.863100,2021-07-04 02:00:00,PM2.5,10.5,UG/M3,44,1,summer
2,42.060300,-87.863100,2021-07-04 02:00:00,OZONE,35.0,PPB,32,1,summer
3,41.855301,-87.752502,2021-07-04 02:00:00,OZONE,34.0,PPB,31,1,summer
4,41.864329,-87.748826,2021-07-04 02:00:00,PM2.5,5.3,UG/M3,22,1,summer